modules = ["nodejs-20", "python-3.11", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["arrow-cpp", "borgbackup", "cairo", "cargo", "ffmpeg-full", "freetype", "ghostscript", "gitFull", "glibcLocales", "go", "gobject-introspection", "gtk3", "libcxx", "libiconv", "libjpeg_turbo", "libpng", "libuv", "libxcrypt", "llvm", "openssl", "pkg-config", "py-spy", "qhull", "rustc", "tcl", "tk", "which"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Project Info"

[[workflows.workflow]]
name = "Project Info"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run_info.py"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80
